{erl_opts, [no_debug_info, warnings_as_errors]}.
{erl_first_files, ["src/ucd_codegen.erl"
                  ,"src/ucd.erl"
                  ,"src/ucd_properties.erl"
                  ,"src/ucd_casing.erl"
                  ,"src/ucd_east_asian.erl"
                  ,"src/ucd_hangul.erl"
                  ,"src/ucd_names.erl"
                  ,"src/ucd_normalization.erl"
                  ,"src/ucd_segmentation.erl"
                  ,"src/ucd_unihan.erl"
                  ]}.

{deps, []}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
